@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@100&display=swap');

* {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  color: red;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-title {
  font-size: 3.3em;
  justify-content: left ;
  margin-left: 10px;
  line-height: 0.9;
}

.sello {
  font-size: 1.4em;
  text-align: right;
  justify-content: right ;
  margin-right: 10px;

}

.sello img {
  max-width: 80%;
  height: auto;
  object-fit: contain;
}

.header-nav {
  margin-top: 60px;
  padding: 0 20px;
  width: 100%;
  text-align: center;
}

.header-nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: left ;
  gap: 20px;
}

.header-nav ul li {
  display: inline-block;
}

.header-nav ul li a {
  text-decoration: none;
  font-size: 1em;
}

.header-nav ul li a:hover {
  text-decoration: underline;
}

.works, .videos {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Ajuste de columnas */
  gap: 10px;
  margin: 0 auto; /* Centra el contenido horizontalmente */
  padding: 0;
  width: 100%; /* Elimina el límite de ancho */
  max-width: 100%; /* Asegura que ocupe el ancho completo del contenedor */
  list-style: none;
  border: none; /* Elimina cualquier borde aplicado */
}

.media-grid img {
  width: 100%;
  height: auto;
}

.media-item {
  position: relative;
  overflow: hidden;
}

.media-item img {
  width: 100%;
  height: auto;
  object-fit: cover;

}

.contacto {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.mail {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 3.5em;
  margin-top: 30px;
  text-align: center;
}

.videos .media-grid {
  grid-template-columns: 1fr;
  gap: 100px;
  text-align: center;
  list-style: none;
  border: none; /* Elimina cualquier borde aplicado */
  width: 100%; /* Elimina el límite de ancho */
  max-width: 80%; 
}
.media-title {
  text-align: center;
  font-size: 18px;
  margin-top: 5px;

}

.media-itemv iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Redes{
  display: flex;
  justify-content: center;

}
.Redes a{
  padding: 10px;
  font-size: 1.3rem;
}
/* Ajustes para pantallas móviles */
@media only screen and (max-width: 768px) {
  .header-nav ul {
    flex-direction: row;
text-align: left;
    gap: 10px;
  }

  .header-title {
    font-size: 2.5em;
    margin: 0 20px;
  }

  .sello {
    text-align: center;
    margin: 0;
  }

  .media-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
    gap: 10px;
    padding-left: 0;
  }

  .contacto, .mail {
    padding: 10px;
    margin-top: 20px;
  }

  .mail {
    font-size: 1.5em;
  }

  .header-nav {
    padding: 20px;
  }

  .media-item img {
    object-fit: cover;
  }

  #enlarged-image {
    max-width: 80%;
    max-height: 80%;
  }

  .sello img {
    max-width: 80%;
  }
  .media-title {
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
  
  }
}

#image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#enlarged-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}
